@import 'variables.scss';
@import 'mixins.scss';

.all-postcards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.postcard-thumbnail {
  background-color: grey;
  width: 250px;
  height: 170px;
  margin: 18px;
}

.two-columns-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 70vw;
  margin: 0 auto;
}

.column {
  width: 50%;
}

.figure {
  width: 100%;
  margin: 0 auto;
}

.figure-creditos {
  background-color: grey;
  width: 300px;
  height: 300px;
}

.figure-contacto {
  background-color: grey;
  width: 300px;
  height: 300px;
}
