@import 'variables.scss';
@import 'mixins.scss';

.all-postcards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.postcard {
  
  // width: auto;
}

.next-postcards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.postcard-thumbnail {
  background-color: grey;
  width: 250px;
  height: 170px;
  margin: 18px;
}

.postcard-data{
  //
}

.postcard-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: $grey-alt;
}

.postcard-img {
  width: 400px;
  height: 250px;
  background-color: gray;
  margin: 20px;
}

.columns-wrapper {
  display: flex;
  flex-direction: row;
  //max-width: 70vw;
  width:100%;
  margin: 0 auto;
}

.column {
  // max-width: 50%;
  // min-width: 25%;
  width: 20%;
}

.figure {
  width: 100%;
  margin: 0 auto;
}

.figure-creditos {
  background-color: grey;
  width: 300px;
  height: 300px;
}

.figure-contacto {
  background-color: grey;
  width: 300px;
  height: 300px;
}

.lista {
  width: 20vh;
  & li {
    text-decoration: none;
    list-style-type: none;
    font-size: $nav-font-size;
  }
}

.list {
  width: 20vh;
  & li {
    text-decoration: none;
    list-style-type: none;
    font-size: $nav-font-size;
  }
}
