@import 'variables.scss';
@import 'mixins.scss';

.columns-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //max-width: 70vw;
  width:100%;
  margin: 0 auto;
}

.column {
  width: 20%;
}

.list {
  width: 20vh;
  & li {
    text-decoration: none;
    list-style-type: none;
    font-size: $nav-font-size;
  }
}

.postcard-thumbnail {
  background-color: grey;
  width: 250px;
  height: 170px;
  margin-bottom: 18px;
  margin-left: 18px;
}

.postcard-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: $grey-alt;
}

.postcard-img {
  width: 400px;
  height: 250px;
  background-color: gray;
  margin: 20px;
}


