@import 'variables.scss';
@import 'mixins.scss';

.nav-style {
  position: sticky;
  top: 0;
  display: block;
  min-height: $header-heigth;
  width: 100%;
  z-index: 900;
  margin: 0;
  padding: 0;
  // text-transform: uppercase;
  font-size: $nav-font-size;
  line-height: $nav-font-size;
  & a {
    color: $black;
    text-decoration: none;
    font-size: $nav-font-size;
    // align-self: center;
    // justify-self: center;

    & :hover {
      color: $accent-color;
      text-decoration: none;
    }
    & :visited {
      color: $black;
      text-decoration: none;
    }
  }
}
.nav.burger{

  & a {
    color: $black;
    text-decoration: none;
    font-size: $nav-font-size;
    // align-self: center;
    // justify-self: center;

    & :hover {
      color: $accent-color;
      text-decoration: none;
    }
    
    & :visited {
      color: $black;
      text-decoration: none;
    }
  }
}

.nav-row-wrapper {
  width: 100%;
  display: flex;
}
.nav-row {
  display: flex;
  // height: 120px;
  margin: 0 auto;
  padding: 0;
  align-items: flex-start;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  // justify-content: space-between;
}
.nav-group {
  width: 20vw; // 120px;
  display: block;
  padding: 7px;
  border-color: black;
}

.nav-link {
  font-family: $main-font;
  font-size: 1rem;
  width: 100%;
  display: inline-block;
  & :hover {
    text-decoration: underline;
  }
}

.link-line {
  display: inline;
  & :hover {
    text-decoration: underline;
  }
  margin-right: 10px;
}

.logoSvg {
  top: 0;
  width: 35%;
  height: 35%;
  padding: 5px;
}

.logo {
  align-self: center;
}

#top-nav {
  // background-color: $white; // $grey-menu;
  color: $black;
  width: 100%;
}

.bar-years {
  background-color: $white; // $yellow-year;
  & a {
    color: $black;
  }
}

.year-wrapper {
  width: 100px;
  height: 100vh;
  // display: flex;
  position: absolute;
  top: 15px;
  right: 0;
  overflow: scroll;
  // margin-top:
}

.year-wrapper-v {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 80px;
  align-items: flex-start;
  justify-content: center;
}
.menu-years-v {
  display: inline-block;
  // transform: rotate(90deg);
  padding: 0 0 0 15px;
  margin: 2px;
  width: 17px;
}

.year-column {
  font-size: $nav-font-size;
  line-height: $nav-font-size;
  & a {
    color: $black;
    text-decoration: none;
    font-size: $nav-font-size;
    // align-self: center;
    // justify-self: center;

    & :hover {
      color: $accent-color;
      text-decoration: none;
    }
    & :visited {
      color: $black;
      text-decoration: none;
    }
  }
}



.searchField {
  position: relative;
  padding: 10px 0 0;
  /* margin-top: 10px; */
  width: 50%;
}

.searchInput {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $primary-color;/*  $brown-place; */
  outline: 0;
  font-size: 1.3rem;
  color: $secondary-color;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: $brown-place/* transparent; */
  }

  &:placeholder-shown ~ .searchLabel {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.searchLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $primary-color; /* $brown-place; */
}

.searchInput:focus {
  ~ .searchLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary-color;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary-color,$secondary-color);
  border-image-slice: 1;
}

.searchInput{
  &:required,&:invalid { box-shadow:none; }
}

