@import 'variables.scss';
@import 'mixins.scss';

.page {
  // min-height: $page-heigth;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;

  .text-body {
    max-width: 70vw;
    margin: 0 auto;
    font-size: $body-font-size;
  }

  .page-title {
    max-width: 80vw;
    display: inline-block;
    margin: 0 auto;
    font-size: $title-font-size;
    // font-weight: 700;
    text-transform: uppercase;
    padding-top: 15px;
  }
}


.page-project {
  background-color: $blue-search;
  color: $black;
}

.page-URE {
  background-color: $brown-place;
  color: $black;
}

.wrapper-text-column{
  display: flex;
  margin-right: 60px;
}
.text-body-column{
  font-size: $column-font-size;
  width: 35%;
  padding: 50px;
}