@import 'variables.scss';
@import 'mixins.scss';

.columns-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //max-width: 70vw;
  width: 100%;
  margin: 0 auto;
}

.column {
  width: 20%; 
}


.list {
  width: 20vh;
  & li {
    text-decoration: none;
    list-style-type: none;
    font-size: $nav-font-size;
  }
}

.postcard {
  margin-bottom: 25px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.postcard-data {
  color: $black;
  text-decoration: none;
  font-size: $detail-font-size;
}

.postcard-thumbnail {
  background-color: $dark-grey;
  width: 95%;
  height: auto;
  min-height: 12vw;
}

.postcard-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: $grey-alt;
}

.postcard-img {
  width: 400px;
  height: 250px;
  background-color: $dark-grey;
  margin: 20px;
}

@media (max-width: 600px) {
  .column {
    width: 33%;
  }
  .list {
    width: 33vh;
  }
}